$aside-width: 232px;
.aside {
  position: absolute;
  flex: 0 0 $aside-width;
  width: $aside-width;
  overflow: hidden;
  background-color: #fff;
  left: 0;
  bottom: 0;
  top: 0;
  transition: all .444s ease-in-out;
  z-index: 99;
  padding-right: $s-4;
  box-sizing: border-box;
  opacity: 1;

  .aside-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    border-right: $box-border-color 1px solid;

    .nav {
      position: relative;
      padding-top: $s-7;
      ul {
        list-style: none;
        padding: 0 $s-2;

        li {
          width: 100%;
          margin-bottom: $s;
          border-radius: $s;
          transition: all .333s ease-in-out;

          &:hover {
            background-color: #F8ECE0;
          }

          a {
            display: block;
            padding: $s $s-3;
            line-height: $s-3;
            text-decoration: none;
            color: $color-primary;

            i {
              display: inline-block;
              width: 15px;
              height: 15px;
              padding-right: $s;

              svg {
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .nav-active {
          background-color: #F8ECE0;
        }
      }

    }

    .nav-owner {
      padding: $s-2;
    }
  }

}

.aside-panel-hide {
  .aside {
    transform: translateX(-$aside-width)!important;
    opacity: 0;
  }
}

#aside-close {
  position: absolute;
  top: $s;
  left: $s;
  z-index: 999;
  width: $s-4;
  height: $s-4;
  opacity: .7;
  svg {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {

}
