<section class="rotation">
  <article class="rotation-item">
    <a href="/">
      <div class="media">
        <div class="media-content"
             th:style="'background-image: url(' + @{/assets/images/post/2020090717020611-scaled-e1599498136149.jpg} + ')'"
             style="background-image: url(./assets/images/post/2020090717020611-scaled-e1599498136149.jpg)">
        </div>
        <div class="rotation-media-cover"></div>
        <div class="rotation-media-text">
          <p class="ellipsis-3">One Photographer's Incredibly Intimate Portrait Of Her Sister Sister Sister Sister
            Sister Sister Sister Sister</p>
          <i>
            <svg t="1671901564727" class="icon" viewBox="0 0 1024 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="11357" data-darkreader-inline-fill="" width="200"
                 height="200">
              <path
                d="M519.424 948.6336a23.04 23.04 0 0 1-16.3328-39.3216l397.3632-397.312-397.3632-397.312a23.04 23.04 0 1 1 32.6144-32.768l413.5936 413.6448a22.9888 22.9888 0 0 1 0 32.5632L535.7056 942.08a23.0912 23.0912 0 0 1-16.2816 6.5536z"
                fill="#ffffff" p-id="11358" data-darkreader-inline-fill=""
                style="--darkreader-inline-fill:#181a1b;"></path>
              <path d="M906.5472 537.9584H90.9824a23.04 23.04 0 1 1 0-46.08h815.5648a23.04 23.04 0 0 1 0 46.08z"
                    fill="#ffffff" p-id="11359" data-darkreader-inline-fill=""
                    style="--darkreader-inline-fill:#181a1b;"></path>
            </svg>
          </i>
        </div>
      </div>
    </a>
  </article>
</section>
